html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

#canvas-game {
    box-shadow: 0 0 5px 3px blue;
    width: 1200px;
    height: 600px;
}